body {
  background-color: rgb(220, 220, 220);
}

canvas {
  margin-top: 5vh;
  margin-left: 10%;
  box-shadow: 0px 10px 20px 0px rgba(20, 20, 50, 0.52);
}

div[id^="popper-marker"] {
  position: absolute;
  padding: 10px;
  background-color:aliceblue;
  border-width: 2px;
  border-style: solid;
  width: 180px;
  line-height: 1.3em;
}

div[id^="popper-marker"] .property {
  margin-top:15px;
}

div[id^="popper-marker"] .type {
  float: left;
  font-weight: 800;
}

div[id^="popper-marker"] .value {
  float: right;
}
