body {
  background-color: rgb(220, 220, 220);
  overflow-x: hidden;
  overflow-y: hidden;
}

/* map */
canvas {
  box-shadow: 0px 10px 20px 0px rgba(20, 20, 50, 0.52);
  margin-left: 5%;
  margin-top: 2%;
}

/* popper */
div[id^="popper-marker"] {
  position: absolute;
  padding: 10px;
  background-color:aliceblue;
  border-width: 2px;
  border-style: solid;
  line-height: 1.3em;
}

/* popper action */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .action {
  background-color:aliceblue;
  border: 1px solid;
  padding: 5px;
  cursor: pointer;
  border-radius: 3px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}


/* popper properties */
div[id^="popper-marker"] .property {
  margin-top: 15px;
}

div[id^="popper-marker"] .type {
  float: left;
  font-weight: 800;
}

div[id^="popper-marker"] .value {
  float: right;
}

/* popper tab */
div[id^="popper-marker"] .tab {
  margin-top: 15px;
}

.tab button {
  background-color: white;
  border: 1px solid;
  cursor: pointer;
  padding: 6px 10px;
  width: 49%;
}

.tab .activated {
  background-color: green;
  color: white;
}

/* stream */
.stream button {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: transparent;
  border: 1px solid;
  cursor: pointer;
  margin-left: 25%;
}
